<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Oswald:wght@200&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/c9cd230c37.js" crossorigin="anonymous"></script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Project</title>

    <link rel="stylesheet" href="/public/styles/style.css">
 ji
</head>
<body>   
        <nav>
            <div class="nav-bar" id="nav-list">           
                <div class="dropbtn" id="topnav">
                    <input type="text" placeholder="Search..">
                </div>
            

        
                <div class="dropdown">
                    <button onclick="displayDropDown()" class="dropbtn">Cities</button>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="#">Calgary</a>
                            <a href="#">Vancouver</a>
                        </div>
                </div>
                <div class="dropdown">
                    <button onclick="dropNeighbor()" class="dropbtn">Nieghborhood</button>
                        <div id="myNeighborhood" class="dropdown-content">
                            <a href="#">Victoria Park</a>
                            <a href="#">East Village</a>  
                            <a href="#">Chinatown</a>    
                            <a href="#">Downtown Core</a>  
                            <a href="#">Mission    </a>   
                            <a href="#">Westend</a>    
                            <a href="#">17th Ave SW</a>    
                            <a href="#">Inglewood</a>    
                            <a href="#">Kensington</a>       
                        </div>
                    </div> 
                    <div class="dropdown">
                        <button onclick="()" class="dropbtn">Travel</button>
                            <div id="myDropdown" class="dropdown-content">
                            </div>
                    </div>
                    <button class="dropbtn" id="instagram"><i class="fab fa-instagram"></i></a></button>                
                </div>

            <button class="hamburger" id="hamburger">
                <i class="fas fa-bars"></i></button> 
        </nav>

        <div class="title">Bon Vivant</div><hr>

        <!-- <div class="flexcontainer"> -->
        
            <div class="bg-img">
                <form action="/action_page.php" class="container">
                  <h1>Login</h1>
              
                  <label for="email"><b>Email</b></label>
                  <input type="text" placeholder="Enter Email" name="email" required>
              
                  <label for="psw"><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" name="psw" required>
              
                  <button type="submit" class="btn">Login</button>
                </form>
              </div>
    </div>
 </div>
</body>






