<form action="submit" method="POST">
    <section>
        <h2>Personal Information</h2>
        <p><label>name<input type="text" name="name" required /> </label></p>
        <p><label>E-mail<input type="email" name="email" required /> </label></p>
        <p><label>password<input type="password" name="password" required minlength="6" maxlength="12" /></label></p>
    </section>
    <p><button type="submit">Submit</button>
</form>