

@media screen and (max-width: 500px){
    .hamburger{
        position: relative;    
    }
    .nav-bar{
        display: none;
    }
    #instagram{
        display: none;
    }
    button{
        font-size: 20px;
    }
    .flexcontainer{
    display: none;
}
}
@media screen and (min-width: 600px){
.hamburger{
    display: none;
}
}
